*{
    margin: 0;
    padding: 0;
}
#topbar{
    background: green;
    height: 60px;
    color: white;
    text-align: center;

}
#topbar.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
main{
    background: #ddd;
    height: 1500px;
}
.topbarPlaceholder{
    height: 60px;

}
button.sticky{
    position: fixed;
    left: 0;
    top: 60px
}